.acct_txt{
  --padding-start: 0  !important;
}
.username_txt{
  --padding-start: 0  !important;
}
.password_txt{
  --padding-start: 0  !important;
}
.phone_txt{
  --padding-start: 0  !important;
} 
.btn{
  margin-top: 8%;
}
.passwordIcon{
  font-size: 2rem !important;
}